In [7]:
import pandas as pd
import numpy as np

In [2]:
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'year': [2012, 2012, 2013, 2014, 2014], 
        'reports': [4, 24, 31, 2, 3]}
df = pd.DataFrame(data, index = ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'])

In [3]:
df

             name  reports  year
Cochice     Jason        4  2012
Pima        Molly       24  2012
Santa Cruz   Tina       31  2013
Maricopa     Jake        2  2014
Yuma          Amy        3  2014

In [5]:
df[:-1*2]

             name  reports  year
Cochice     Jason        4  2012
Pima        Molly       24  2012
Santa Cruz   Tina       31  2013

In [6]:
df[-1*2:]

          name  reports  year
Maricopa  Jake        2  2014
Yuma       Amy        3  2014

In [11]:
inputs = np.array([[0.5, -0.2, 0.1]])
targets = np.array([[0.4]])
test_w_i_h = np.array([[0.1, -0.2],
                       [0.4, 0.5],
                       [-0.3, 0.2]])
test_w_h_o = np.array([[0.3],
                       [-0.1]])

In [10]:
inputs.shape

(1, 3)

In [12]:
test_w_i_h.shape

(3, 2)

In [14]:
test_w_h_o.shape

(2, 1)

In [20]:
# Initialize weights
input_nodes = 3
hidden_nodes = 2
output_nodes=1
learning_rate = 0.5
weights_input_to_hidden = np.random.normal(0.0, input_nodes**-0.5, (input_nodes, hidden_nodes))

weights_hidden_to_output = np.random.normal(0.0, hidden_nodes**-0.5, (hidden_nodes, output_nodes))


def activation_function(x):
    return 1 / (1 + np.exp(x))

def forward_pass_train(X):
    ''' Implement forward pass here 

        Arguments
        ---------
        X: features batch

    '''
    #### Implement the forward pass here ####
    ### Forward pass ###
    # TODO: Hidden layer - Replace these values with your calculations.
    hidden_inputs = np.dot(X, weights_input_to_hidden)  # signals into hidden layer
    hidden_outputs = activation_function(hidden_inputs)  # signals from hidden layer

    # TODO: Output layer - Replace these values with your calculations.
    final_inputs = np.dot(hidden_outputs, weights_hidden_to_output)  # signals into final output layer
    final_outputs = final_inputs  # signals from final output layer

    return final_outputs, hidden_outputs

In [25]:
inputs = np.array([[0.5, -0.2, 0.1]])
targets = np.array([[0.4]])
test_w_i_h = np.array([[0.1, -0.2],
                       [0.4, 0.5],
                       [-0.3, 0.2]])
test_w_h_o = np.array([[0.3],
                       [-0.1]])

In [28]:
n_records = inputs.shape[0]
delta_weights_i_h = np.zeros(weights_input_to_hidden.shape)
delta_weights_h_o = np.zeros(weights_hidden_to_output.shape)
for X, y in zip(inputs, targets):
    final_outputs, hidden_outputs = forward_pass_train(X)

print (final_outputs, hidden_outputs)

[-0.97745222] [ 0.41937099  0.611825  ]